body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.css-wnkddu-MuiPaper-root-MuiAlert-root .MuiAlert-icon , .css-to2f46-MuiPaper-root-MuiAlert-root .MuiAlert-icon{
  color: #2e7d32;
  display: flex;
  align-items: center;
}
.css-1pxa9xg-MuiAlert-message {
  width: 100%;
}